<div class="container-fluid bg-white p-5">
    <div class="texto">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit labore aperiam quae blanditiis earum harum voluptatibus voluptate expedita saepe aut voluptates atque nesciunt voluptatum incidunt placeat rerum sunt, tempora molestias!</p>
    </div>

    <form class="bg-info bg-opacity-10 d-flex flex-column p-5">

        <div>
            <label for="email" class="col-3 form-label">Your E-mail</label>
            <input type="text" name="email" id="" placeholder="Your email" class="form-control col-9">
        </div>

        <div>
            <label for="message" class="col-3">Your message</label>
            <textarea name="message" id="" placeholder="Please enter your message here..." class="form-control"></textarea>
        </div>
    </form>

</div>