<div class="container-fluid d-flex bg-white">
    <div class="row d-flex p-5 m-5">
        <div class="texto col-7">
            <div class="d-flex">
                <h2>The First Heading <h2 class="text-secondary"> Will Catch Your Eye</h2></h2>
            </div>
            <div class="Par">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui ullam ipsa aliquid asperiores
                consequuntur non
                ut, explicabo cupiditate delectus dolores eius quos suscipit molestiae illo, porro
                necessitatibus, cum
                beatae labore.
            </div>
        </div>
        <div class="col-5 align-self-center">
            <img class="rounded-circle img-fluid" src="/website/assets/img/1.jpg" alt="Heisenberg">
        </div>
    </div>
</div>