<div class="container-fluid px-4 py-5 bg-white">
    <div class="row d-flex align-items-center ">
      <div class="col-7">
        <h1 class="display-5 fw-bold lh-1 mb-3">The First Heading <small class="text-muted">Will Catch Your Eye</small> </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi harum, sed expedita adipisci fuga praesentium. Rem quae non eius atque quisquam debitis minima, qui iure earum hic exercitationem optio tempora!</p>
      </div>
      <div class="col-3">
        <img src="/website/assets/img/1.jpg" class="img-fluid rounded-circle d-block mx-lg-auto" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
      </div>
    </div>
  </div>