<div class="container-fluid bg-white p-5">
  <div class="m-5 mb-0">
    <h2>Portfolio</h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
      Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 m-5 mt-0">
    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/700/401" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="text-primary">Project Name</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
            gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/700/402" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="text-primary">Project Name</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
            gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <img src="https://picsum.photos/700/400" class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="text-primary">Project Name</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio,
            gravida pellentesque urna varius vitae.</p>
        </div>
      </div>
    </div>
  </div>
</div>
