<div class="container-fluid px-4 py-5 bg-white">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/website/assets/img/2.jpg" class="d-block mx-lg-auto img-fluid rounded-circle" alt="Bootstrap Themes" width="400" height="400" loading="lazy">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">The Second Heading <small class="text-muted">Is Pretty Cool Too</small> </h1>
        <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi harum, sed expedita adipisci fuga praesentium. Rem quae non eius atque quisquam debitis minima, qui iure earum hic exercitationem optio tempora!</p>
      </div>
    </div>
  </div>