<div class="container-fluid bg-white p-5 pt-0" id="services">
  <hr class="m-0 mx-5">
  <div class="row flex-row-reverse justify-content-end p-5 m-5">
      <div class="col-8 align-self-top">
        <h1 class="display-5 fw-bold lh-1 text-dark" >The Second Heading <small class="text-muted">Is Pretty Cool Too.</small> </h1>
        <p class="fs-3 lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
      </div>
      <div class="col-10 col-sm-8 col-lg-4   align-self-center">
        <img src="/website/assets/img/2.jpg" class="img-fluid rounded-circle" alt="Heisenber" width="600" height="600" loading="lazy">
      </div>
    </div>
  </div>